INTERFACE = "CHANGEME"

DETECTION_MODEL = "CHANGEME"
DETECTION_TRACKER = "CHANGEME.yaml" # either botsort.yaml or bytetrack.yaml

# TODO: Change this so that the servers are saved locally (probably in .env or .json)/
# Idea: Save everything in a settings.json file and add it to .gitignore
# This way, the user can change the server settings without changing the code

# The .env will be overwritten by the chosen Json file, so that the "Default Server" can be chosen.
SERVER_LOCATION = "CHANGEME"
SERVER_PORT = 1433 <- CHANGEME
SERVER_USER = "sa" <- CHANGEME
SERVER_PASSWORD = "CHANGEME YOURSECUREPASS" 
DATABASE_NAME = "CHANGEME"