interactive_map.html filter=lfs diff=lfs merge=lfs -text
main_gui.py filter=lfs diff=lfs merge=lfs -text
MainInterface filter=lfs diff=lfs merge=lfs -text
OSDAccess.py filter=lfs diff=lfs merge=lfs -text
pin.png filter=lfs diff=lfs merge=lfs -text
WirelessAccess.py filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
CameraAccess.py filter=lfs diff=lfs merge=lfs -text
DroneAccess.py filter=lfs diff=lfs merge=lfs -text
osd_font filter=lfs diff=lfs merge=lfs -text
pyvenv.cfg filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
cv.py filter=lfs diff=lfs merge=lfs -text
distutils-precedence.pth.bak filter=lfs diff=lfs merge=lfs -text
main.py filter=lfs diff=lfs merge=lfs -text
MODELS filter=lfs diff=lfs merge=lfs -text
OSDWithCanny.py filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
test.py filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
MapAccess.py filter=lfs diff=lfs merge=lfs -text
share filter=lfs diff=lfs merge=lfs -text
venv filter=lfs diff=lfs merge=lfs -text
withTesseract.py filter=lfs diff=lfs merge=lfs -text
YOLOdetection.py filter=lfs diff=lfs merge=lfs -text
BACKUPS filter=lfs diff=lfs merge=lfs -text
