branca==0.8.1
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
contourpy==1.3.3
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
decorator==5.2.1
dill==0.4.0
fastcrc==0.3.2
filelock==3.19.1
folium==0.20.0
fonttools==4.59.2
fsspec==2025.9.0
future==1.0.0
geocoder==1.38.1
geographiclib==2.1
geopy==2.4.1
idna==3.10
Jinja2==3.1.6
kiwisolver==1.4.9
lxml==6.0.2
MarkupSafe==3.0.2
matplotlib==3.10.6
mpmath==1.3.0
networkx==3.5
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pillow==11.3.0
polars==1.33.1
psutil==7.0.0
pymavlink==2.4.49
pyodbc==5.2.0
pyparsing==3.2.4
pyserial==3.5
PySide6==6.9.2
PySide6_Addons==6.9.2
PySide6_Essentials==6.9.2
python-dateutil==2.9.0.post0
PyYAML==6.0.2
ratelim==0.1.6
requests==2.32.5
scipy==1.16.2
setuptools==80.9.0
shiboken6==6.9.2
six==1.17.0
staticmap==0.5.7
sympy==1.14.0
tk==0.1.0
tkintermapview==1.29
torch==2.8.0
torchvision==0.23.0
typing_extensions==4.15.0
ultralytics==8.3.200
ultralytics-thop==2.0.17
urllib3==2.5.0